input::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] { /* Firefox */
    -moz-appearance: textfield;
}

.body{
    background-color: #E9EBEE;
}

.calculator {
    text-align: center;
}

.types {
    text-align: center;
}

#currentType{
    font-size: 38pt;
}

.typesButton{
    border: none;
    font-size: 20pt;
}

.typesButton:hover{
    background-color:gray;
}

.typesButton:active{
    background-color:white;
}

input[type=number]{
    min-height: 32px;
}

button{
    min-height: 32px;
}





.group1{
    border: 2px solid orange;
}

.group2{
    border: 2px solid red;
}

#currentTab{
    border: 2px solid red;
}

.types{
    border: 2px solid orange;
}

.time {
    min-width: 50px;
}

input{
    width: 20pt;
}