@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}

.types{
    text-align: center;
}

.typesButton{
    font-family: 'Roboto', sans-serif;
    color: #757575;
    background-color: transparent;
    font-size: 18pt;
    border: none;
    display: inline-block;
}

.active{
    text-align: center;
    color: #202125;
    position: relative;
}

.active:before{
    content : "";
    clear: both;
    position: absolute;
    left    : 10%;
    bottom  : 0;
    width   : 80%;  /* or 100px */
    border-bottom: 2.5pt solid #202125;
    margin: -2.25pt 0; 
}

.group1, .group2, .result{
    background-color: transparent;
    border: 1pt solid #DFDFDF;
    padding-left: 2em;
    padding-right: 4em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 250pt;
    margin: 0 auto;
    text-align: right;
}

.group1{
    margin-top: -0.8em;
}

.group2{
    margin-top: 1em;
}

.text{
    margin-right: 0.5em;
    font-family: 'Roboto', sans-serif;
}

.point{
    font-family: 'Roboto', sans-serif;
}

input{
    border: 1.33pt #BEBEBE solid;
    border-radius: 3pt;
    padding: 0.25em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

input[type=number]:focus{
    border: 1.33pt solid #757575;
}

.timeInput, .distanceInput, .speedInput, .paceInput{
    margin-top: 1em;
    margin-bottom: 1em;
}

.buttonsCalculator{
    text-align: center;
    margin-top: 10pt;
}

.result{
    margin-top: 10pt;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
    border: pt solid #DFDFDF;
}

.distance ,.speed{
    width: 150pt;
}

.time{
    width: 38.8pt;
}

.pace{
    width: 67.5pt;
}

.calculatorButton{
    padding: 0.5em;
    margin-left: 0.5em;
    background-color: #ececec;
    border: 1pt solid #DFDFDF;
    border-radius: 0.5em;
    font-family: 'Roboto', sans-serif;
}

.calculatorButton:active{
    background-color: #DFDFDF;
}

.point , .text{
    display: inline;

}

body{
    zoom: 110%;
}