input::-webkit-outer-spin-button, /* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] { /* Firefox */
    -moz-appearance: textfield;
}

.body{
    background-color: #E9EBEE;
}

.calculator {
    text-align: center;
}

.time {
    max-width: 40px;
    margin-right: 13px;
    height: 28px;
    border-radius: 0;
}

.types {
    text-align: center;
}

.typesButton{
    border: none;
    border-radius: 12px;
    padding: 10px 32px;
}

.typesButton:hover{
    background-color:gray;
}

.typesButton:active{
    background-color:black;
}

#currentType{
    font-size: 30pt;
}